body {
    margin: 0;
    font-family: Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    border-radius: 10px;
    cursor:pointer;
}
.top-container {
    background-image: url("../Images/pexels-photo-574080.jpeg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:300px;
    padding: 30px;
    text-align: center;
}
.header {
    padding: 10px 16px;
    background-image: radial-gradient(circle, #ffe6e6, #f6e5e9, #ede4ea, #e6e3e7, #e1e1e1);
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }